{% extends "base.html" %}

{% block content %}

<h1>{{ category_name }}</h1>

<hr>

{% if not episodes %}
<div class="category_order_by">
    {% if order == 'recent' %}<strong>Most recent</strong>{% else %}<a href="{{ url_for('view_category', category=category) }}">Most recent</a>{% endif %} |
    {% if order == 'atoz' %}<strong>A-Z</strong>{% else %}<a href="{{ url_for('view_category', category=category) }}?order=atoz">A-Z</a>{% endif %}
</div>
<div class="clear"></div>
{% endif %}

{% for programme in programmes %}

<div class="category_programme_block_wrapper">

    <a href="{{ url_for('view_programme', pid=programme['pid']) }}">

        <span class="category_programme_block">

            <div class="category_programme_block_img_wrapper">
                <img src="http://ichef.bbci.co.uk/images/ic/208x117/{{ programme['imgid'] }}.jpg" width="208" height="117">
            </div>

            <div class="category_programme_block_info">
                <div class="category_programme_block_title">{{ programme['title'] }}</div>
                <div class="category_programme_block_subtitle">{{ programme['subtitle'] }}</div>
                <span class="category_programme_block_synopsis">{{ programme['synopsis'] }}</span>
                <span class="category_programme_block_synopsis">{{ programme['duration'] }} minutes long. {% if programme['availability'] is defined %}Available to watch for {{ programme['availability'] }}.{% endif %}</span>
            </div>

        </span>

    </a>

</div>

{% if programme['episodes'] is defined and not episodes %}
<div class="category_programme_block_episodes"><a href="{{ url_for('view_episodes', episodes=programme['episodes']) }}">{{ episodes_count[programme['episodes']] }} episode{% if episodes_count[programme['episodes']] != 1 %}s{% endif %} available.</a></div>
<div class="clear"></div>
{% endif %}

{% endfor %}

<hr>

<div id="pagination_wrapper">
    <div id="tnt_pagination">

        {% if page == 1 %}
        <span class="disabled_tnt_pagination">Prev</span>
        {% else %}
        <a href="{% if not episodes %}{{ url_for('view_category', category=category) }}{% else %}{{ url_for('view_episodes', episodes=category) }}{% endif %}?{% if not episodes %}order={{ order }}&{% endif %}page={{ page - 1 }}">Prev</a>
        {% endif %}

        {% for n in range(1, num_pages + 1) %}
        {% if n == page %}
        <span class="active_tnt_link">{{ n }}</span>
        {% else %}
        <a href="{% if not episodes %}{{ url_for('view_category', category=category) }}{% else %}{{ url_for('view_episodes', episodes=category) }}{% endif %}?{% if not episodes %}order={{ order }}&{% endif %}page={{ n }}">{{ n }}</a>
        {% endif %}
        {% endfor %}

        {% if page == num_pages %}
        <span class="disabled_tnt_pagination">Next</span>
        {% else %}
        <a href="{% if not episodes %}{{ url_for('view_category', category=category) }}{% else %}{{ url_for('view_episodes', episodes=category) }}{% endif %}?{% if not episodes %}order={{ order }}&{% endif %}page={{ page + 1 }}">Next</a>
        {% endif %}

    </div>
</div>

{% endblock %}
